body {
  background-color: #F6EBD8;
}

.color-grid {
  position: relative;
  width: 100%; /* Adjusted width to fill the entire viewport */
  height: 100vh;
}

.color-box {
  width: 5%; /* Adjust the width as needed */
  position: absolute;
  padding-top: 5%; /* This will make height 20% of width, creating squares */
  top: 50%; /* Shift vertically to the middle of the screen */
  left: 50%; /* Shift horizontally to the middle of the screen */
  transform: translate(-50%, -50%); /* Center the squares both horizontally and vertically */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .color-box {
    width: 10%; /* Adjusted width for smaller screens */
    padding-top: 10%; /* Adjusted padding for smaller screens */
  }



}  .color-box:nth-child(n) {
    top: calc(10% * floor((n - 1) / 5 + 0.5)); /* Adjust top position for smaller screens */
    left: calc(20% * ((n - 1) % 5 + 0.5)); /* Adjust left position for smaller screens */
  }}



.color-box,
.data-textbox {
    cursor: pointer;
}

.color-box:nth-child(1) { top: 15%; left: 25%; }
.color-box:nth-child(2) { top: 35%; left: 45%; }
.color-box:nth-child(3) { top: 55%; left: 65%; }
.color-box:nth-child(4) { top: 75%; left: 85%; }
.color-box:nth-child(5) { top: 10%; left: 75%; }
.color-box:nth-child(6) { top: 45%; left: 10%; }
.color-box:nth-child(7) { top: 80%; left: 55%; }
.color-box:nth-child(8) { top: 5%; left: 30%; }
.color-box:nth-child(9) { top: 70%; left: 70%; }
.color-box:nth-child(10) { top: 25%; left: 85%; }
.color-box:nth-child(11) { top: 65%; left: 40%; }
.color-box:nth-child(12) { top: 90%; left: 20%; }
.color-box:nth-child(13) { top: 60%; left: 75%; }
.color-box:nth-child(14) { top: 20%; left: 90%; }
.color-box:nth-child(15) { top: 50%; left: 20%; }
.color-box:nth-child(16) { top: 85%; left: 65%; }
.color-box:nth-child(17) { top: 5%; left: 10%; }
.color-box:nth-child(18) { top: 70%; left: 30%; }
.color-box:nth-child(19) { top: 5%; left: 55%; }
.color-box:nth-child(20) { top: 30%; left: 80%; }
.color-box:nth-child(21) { top: 50%; left: 90%; }
.color-box:nth-child(22) { top: 20%; left: 40%; }
.color-box:nth-child(23) { top: 60%; left: 5%; }
.color-box:nth-child(24) { top: 80%; left: 45%; }
.color-box:nth-child(25) { top: 10%; left: 65%; }
.color-box:nth-child(26) { top: 35%; left: 25%; }
.color-box:nth-child(27) { top: 90%; left: 36%; }



.data-textbox,
#secondTextBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F6EBD8;
  padding: 20px;
  border: 1px solid black;
  width: 40%; /* Adjusted width for responsiveness */
  max-width: 400px; /* Maximum width */
  height: 400px;
  font-family: 'Kode Mono', monospace;
  font-size: 12px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

#secondTextBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 200px;
  padding-left: 100px;
  
}

.data-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}


.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Adjust height as needed */
  background-image: url(imgs/ok.jpeg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 24px; /* Adjust margin as needed to separate it from part 1 */
  font-family: 'Kode Mono', monospace;

}

.menu-part1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Kode Mono', monospace;
}

.menu-part2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; /* Adjust margin as needed to separate it from part 1 */
  font-family: 'Kode Mono', monospace;

}

.menu-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-bar li {
  padding: 10px 0;
  text-align: center;
}

.menu-bar a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu-bar a:hover {
  background-color: #ffd966;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .color-box {
      width: 10%;
      padding-top: 10%;
  }

  .data-textbox,
  #secondTextBox {
      width: 90%; /* Adjusted width for smaller screens */
      max-width: 90%; /* Maximum width */
      height: auto; /* Allow height to adjust based on content */
      max-height: 90%; /* Maximum height */
  }
}

