body {
  background-color: #F6EBD8;
}

.color-grid {
  position: relative;
  width: calc(100% - 200px); /* Adjusted width to accommodate the menu bar */
  height: 100vh;
  margin-left: 200px; /* Add left margin to create space for the menu bar */
}


.color-box {
  width: 5%; /* Adjust the width as needed */
  position: absolute;
  padding-top: 5%; /* This will make height 20% of width, creating squares */
}

.color-box,
.data-textbox {
    cursor: pointer;
}

.color-box:nth-child(1) { top: 15%; left: 25%; }
.color-box:nth-child(2) { top: 35%; left: 45%; }
.color-box:nth-child(3) { top: 55%; left: 65%; }
.color-box:nth-child(4) { top: 75%; left: 85%; }
.color-box:nth-child(5) { top: 10%; left: 75%; }
.color-box:nth-child(6) { top: 45%; left: 10%; }
.color-box:nth-child(7) { top: 80%; left: 55%; }
.color-box:nth-child(8) { top: 5%; left: 30%; }
.color-box:nth-child(9) { top: 70%; left: 70%; }
.color-box:nth-child(10) { top: 25%; left: 85%; }
.color-box:nth-child(11) { top: 65%; left: 40%; }
.color-box:nth-child(12) { top: 90%; left: 20%; }
.color-box:nth-child(13) { top: 60%; left: 75%; }
.color-box:nth-child(14) { top: 20%; left: 90%; }
.color-box:nth-child(15) { top: 50%; left: 20%; }
.color-box:nth-child(16) { top: 85%; left: 65%; }
.color-box:nth-child(17) { top: 5%; left: 10%; }
.color-box:nth-child(18) { top: 70%; left: 30%; }
.color-box:nth-child(19) { top: 5%; left: 55%; }
.color-box:nth-child(20) { top: 30%; left: 80%; }
.color-box:nth-child(21) { top: 50%; left: 90%; }
.color-box:nth-child(22) { top: 20%; left: 40%; }
.color-box:nth-child(23) { top: 60%; left: 5%; }
.color-box:nth-child(24) { top: 80%; left: 45%; }
.color-box:nth-child(25) { top: 10%; left: 65%; }
.color-box:nth-child(26) { top: 35%; left: 25%; }
.color-box:nth-child(27) { top: 90%; left: 36%; }



.data-textbox,
#secondTextBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F6EBD8;
  padding: 20px;
  border: 1px solid black;
  width: 40%; /* Adjusted width for responsiveness */
  max-width: 400px; /* Maximum width */
  height: 400px;
  font-family: 'Kode Mono', monospace;
  font-size: 12px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-left: 200px; /* Add left margin to create space for the menu bar */

}

#secondTextBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 200px; /* Add left margin to create space for the menu bar */

}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 200px;
  padding-left: 100px;
  
}

.data-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}


.sidebar {
  height: 100%;
  width: 200px; /* Width of the side menu bar */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/imgs/ok.jpeg'); /* Specify the path to your background image */
  padding-top: 20px; /* Add padding at the top */
}

.sidebar ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.sidebar ul li {
  padding: 10px 15px; /* Add padding to each menu item */
  font-family: 'Kode Mono', monospace; /* Define font for menu items */
  font-size: 12px; /* Define font size for menu items */
}

.sidebar ul li a {
  color: #fff; /* Text color of the menu items */
  text-decoration: none; /* Remove underline from links */
}

/* Styling for the content area */
.content {
  margin-left: 200px; /* Adjust margin to accommodate the side menu bar */
  padding: 20px;
}

.sidebar ul li.title {
  padding: 10px 15px; /* Add padding to the title item */
  font-weight: bold; /* Make the title text bold */
  color: #fff; /* Text color of the title */
  font-size: 16px; /* Font size of the title */
  text-transform: uppercase; /* Convert title text to uppercase */
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .color-box {
    width: 10%;
    padding-top: 10%;
  }

  .data-textbox,
  #secondTextBox {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 90%; /* Maximum width */
    height: auto; /* Allow height to adjust based on content */
    max-height: 90%; /* Maximum height */
  }
}

