body {
    background-color: #F6EBD8;
  }
  .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Adjust height as needed */
    background-image: url(imgs/ok.jpeg);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px; /* Adjust margin as needed to separate it from part 1 */
    font-family: 'Kode Mono', monospace;
  
  }
  
  .menu-part1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Kode Mono', monospace;
  }
  
  .menu-part2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px; /* Adjust margin as needed to separate it from part 1 */
    font-family: 'Kode Mono', monospace;
  
  }
  
  .menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-bar li {
    padding: 10px 0;
    text-align: center;
  }
  
  .menu-bar a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .menu-bar a:hover {
    background-color: #ffd966;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .color-box {
        width: 10%;
        padding-top: 10%;
    }
  }  

.content {
    padding: 20px;
    z-index: 0; /* Ensure content stays below sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Other CSS rules remain the same */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 60px 20px 20px; /* Adjusted margin to create space between menu bar and grid */
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-container .grid-item:nth-last-child(-n+3) {
    grid-column: span 4; /* Adjust the number of columns to span */
}

/* Your existing CSS styles */

/* Style for the scattered squares */
.square {
    position: fixed;
    width: 30px;
    height: 30px;
    position: absolute;
}

.grid-container:hover {
    cursor: pointer;
  }


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .grid-item {
        flex-basis: calc(50% - 10px); /* Adjust the width of each grid item for smaller screens */
    }
}

@media (max-width: 576px) {
    .grid-item {
        flex-basis: calc(100% - 10px); /* Adjust the width of each grid item for even smaller screens */
    }
}
