.container {
    text-align: center; 
    max-width: 100%; /* Ensure container adjusts to the width of its parent */
    padding: 0 20px; /* Add padding to prevent content from sticking to the edges */
}

.container img {
    max-width: 100%;
    height: auto; /* Ensure image maintains its aspect ratio */
    display: inline-block; 
    vertical-align: bottom; 
    transition: transform 0.3s ease; 
    position: relative;
    top: 80px;
}

body {
    background-color: #891824;
    background-position:center;
    background-size: cover;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

.container img:hover {
    transform: scale(1.2); 
}

/* Optional: Add media queries for more precise control over responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}
